@charset "utf-8";

@font-face {
    font-family: 'MinSans-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MinSans-Light;
}

body {
    height: 100%;
    overflow-y: hidden;
    font-size: 10px;
}

html {
    height: 100%;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#wrap>.wrap_af {
    content: "";
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 20;
}

/* 페이지 슬라이드 버튼 */
#dot {
    width: 50px;
    height: 250px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 100;
}

#dot>ul {
    width: 40px;
    height: 220px;
}

#dot li {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: -0px -0px 5px rgba(255, 255, 255, 0.1);
}

#dot li a {
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: absolute;
}

#dot ul .active {
    box-shadow: 0 0 0 2px rgb(255, 194, 25);
}

#dot ul li:nth-of-type(2).active {
    box-shadow: 0 0 0 2px rgb(255, 194, 25);
}

#dot ul li:nth-of-type(3).active {
    box-shadow: 0 0 0 2px rgb(255, 194, 25);
}

#dot ul li:nth-of-type(4).active {
    box-shadow: 0 0 0 2px rgb(255, 194, 25);
}

#dot ul li:nth-of-type(5).active {
    box-shadow: 0 0 0 2px rgb(255, 194, 25);
}

.active a {
    transform: scale(0.4);
}

#dot li:hover {
    opacity: 1;
    cursor: pointer;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

/*page*/
.page {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: black;
}

/* p0 */
#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 10%;
}

section .page:not(:nth-of-type(2n)).con_wrap .background {
    left: 0;
}

section .page:nth-of-type(2n) .con_wrap .background {
    right: 0;
}

.p01 {
    background-color: #000;
    overflow: hidden;
}

.p02 {
    background-color: #000;
    overflow: hidden;
}

.p03 {
    background-color: #000;
    overflow: hidden;
}

.pf_bot {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

/* content 부분 시작 */
#slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

#slider video {
    /* min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%; */
    width: 100vw;
    height: auto;
    z-index: 300;
}

#page1_text {
    position: absolute;
    z-index: 400;
    width: 800px;
    height: 200px;
    margin: -200px 0 0 -400px;
    padding: 30px;
    left: 22%;
    top: 95%;
    color: rgb(255, 194, 25);
    font-size: 65px;
    font-weight: bold;
}

#box_triangle {
    position: absolute;
    z-index: 380;
    width: 1000px;
    height: 100%;
    top: 0;
    left: -900px;
    background-color: #555;
    opacity: 0.3;
    transform: skew(60deg);
}

#page2_textline {
    width: 100%;
    height: 20%;
}

#page2_textline h1 {
    width: 100%;
    height: 120px;
    font-size: 40px;
    font-family: MinSans-Light;
    background-color: black;
    color: rgb(255, 194, 25);
    font-weight: bold;
    font-size: 50px;
    padding-top: 70px;
    text-align: center;
    letter-spacing: 3px;
}

#page2_textline h3 {
    width: 100%;
    font-size: 15px;
    font-family: MinSans-Light;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
}

#page2_imgline {
    width: 100%;
    height: 80%;
    bottom: 0;
}

/* rolling banner 영화 이미지 슬라이드 */
.rolling_banner {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.rb:hover {
    opacity: 0.5;
}

.rolling_boxa {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling_boxb {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling_boxc {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling_boxd {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling_boxe {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling_boxf {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rolling img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.p2box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.page2_sec1 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
}

.p2s_img1 {
    width: 400px;
    height: 250px;
    margin-left: 260px;
    margin-bottom: 50px;
    margin-top: 170px;
    overflow: hidden;
    border-radius: 10px;
}

.p2s_img1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p2s_img1 img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.p2s_img2 {
    width: 400px;
    height: 250px;
    margin-left: 150px;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.p2s_img2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p2s_img2 img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.page2_sec2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps2_txt {
    width: 100%;
    height: 20%;
}

.ps2_txt h1 {
    color: rgb(255, 194, 25);
    font-size: 58px;
    font-weight: bold;
    text-align: center;
}

.ps2_txt h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ps2_txt h3 span {
    color: rgb(64, 137, 232);
}

.page2_sec3 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.p2s_img3 {
    width: 500px;
    height: 800px;
    margin-top: 90px;
    margin-left: 10px;
    border-radius: 10px;
}

.p2s_img3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* .p2s_img3 img:hover{
    box-shadow: 0 0 5px 10px rgba(255, 194, 25, 0.8);
} */

.p3box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.page3_sec1 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.p3s_img1 {
    width: 350px;
    height: 500px;
    margin-left: 250px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.p3s_img2 {
    width: 400px;
    height: 250px;
    margin-left: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.p3s_img1 img,
.p3s_img2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* .p3s_img1 img:hover{
    box-shadow: 0 0 3px 7px rgba(255, 194, 25, 0.8);
} */

.p3s_img2 img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.page3_sec2 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3s_txt {
    width: 100%;
    height: 10%;
}

.ps3_txt h1 {
    color: rgb(255, 194, 25);
    font-size: 58px;
    font-weight: bold;
    text-align: center;
}

.ps3_txt h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ps3_txt h3 span {
    color: rgb(64, 137, 232);
}

.page3_sec3 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.p3s_img3 {
    width: 400px;
    height: 250px;
    margin-top: 70px;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 10px;
}

#p3s_img4 {
    width: 350px;
    height: 500px;
    margin-left: 50px;
    border-radius: 10px;
}

.p3s_img3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p3s_img3 img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

/* .p3s_img4 img:hover{
    box-shadow: 0 0 10px 1px #eee;
} */

.ip_content_on p {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    margin: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;


}

#p4 img {
    position: relative;
    width: 100%;
}

.ip_content_on {
    position: relative;
    width: 60%;
    margin: -945px auto;
}

.ip_content_on:hover {
    transform: scale(0.6);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;


}

.ip_content_light {
    opacity: 1;
}

.ip_content_light {
    position: absolute;
    width: 50%;
    margin: -900px 500px;
    opacity: 1;
    mix-blend-mode: exclusion;
}

.ip_content_light {
    animation: plane-move 10s alternate-reverse infinite;

}

@keyframes plane-move {
    to {
        transform: translateY(-10px) rotate(20deg);

    }
}




/* 애니메이션 효과 */

.p2_ani {
    transform: translateY(-100px);
    transition: all 0.5s;
    opacity: 0;
}

.p3_ani {
    transform: translateY(-500px);
    transition: all 0.5s;
    opacity: 0;
}

.p4_ani {
    transform: translateY(-500px);
    transition: all 0.5s;
    opacity: 0;
}

footer {
    width: 100%;
    height: 220px;
}

#ft_box {
    width: 100%;
    height: 180px;
}

.ft1 {
    background-color: blue;
    width: 100%;
    height: 40px;
}

.ft1_b1 {
    width: 1750px;
    margin: 0 auto;
    height: 100%;
}

.ft1_b1_1 {
    color: white;
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 10px;
    font-family: MinSans-Light;
}

.ft1_b1_2 {
    height: 100%;
    width: 1000px;
    float: left;
    overflow: hidden;
}

.ft1_b1_2 p {
    color: white;
    width: 100%;
    padding-top: 10px;
    font-family: MinSans-Light;
}

.ft1_b1_3 {
    width: 80px;
    height: 100%;
    float: right;
    margin-right: 40px;
    background-color: red;
}

.ft1b13_1 {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 30px;
    float: left;
}

.ft1b13_2 {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 30px;
    float: right;
}

.ft2 {
    width: 100%;
    height: 180px;
}

.ft2_t1 {
    background-color: black;
    width: 60%;
    height: 100%;
    float: left;
}

.ft_li_1 {
    background-color: black;
    width: 100%;
    height: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 80px 25px 80px;
}

.ft_li_1 li {
    float: left;
    font-size: 12px;
    color: white;
    padding: 5px 30px 5px 10px;
    font-family: MinSans-Light;
}

.ft_bold {
    font-weight: bold;
}

.ft_li_2 {
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 80px 0 80px;
}


.ft_li_2 li {
    float: left;
    font-size: 12px;
    color: white;
    padding: 5px 5px 0 10px;
    font-family: MinSans-Light;
}

.ft_li_3 {
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 80px 0 80px;
}


.ft_li_3 li {
    float: left;
    font-size: 12px;
    color: white;
    padding: 0 5px 0 10px;
    font-family: MinSans-Light;
}

.ft_li_4 {
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 80px 0 80px;
}


.ft_li_4 li {
    float: left;
    font-size: 12px;
    color: white;
    padding: 0 5px 0 10px;
    font-family: MinSans-Light;
}

.ft_li_5 {
    background-color: black;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 80px 0 80px;
}


.ft_li_5 li {
    float: left;
    font-size: 12px;
    color: white;
    padding: 0 5px 0 10px;
    font-family: MinSans-Light;
}

.ft2_t2 {
    background-color: black;
    float: right;
    width: 40%;
    height: 100%;
}

.ft2_t2_b {
    background-color: rgb(0, 0, 0);
    width: 290px;
    height: 60px;
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: MinSans-Light;
}

.ft2_t2_b img {
    margin: 20px;
}

.ft2_t2_b p {
    background-color: white;
    width: 60px;
    color: #333;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: MinSans-Light;
    float: right;
    margin: 30px 0;
    text-align: center;
}